
@model GuanaHospi.Models.Usuario;
@{
    Layout = "~/Views/Shared/_Auth.cshtml";
}
<div>

    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="https://vinv.ucr.ac.cr/sites/default/files/styles/logos/public/logotipos/area-item6-big.png?itok=xxRVmXIv" class="brand_logo" alt="Logo">
                    </div>
                </div>
                <div class="d-flex justify-content-center form_container">
                    <form asp-action="Login" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="input-group mb-4">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>

                            <input type="text" asp-for="CorreoElectronico" class="form-control input_user" placeholder="Correo Electrónico">
                            <span asp-validation-for="CorreoElectronico" class="text-danger"></span>

                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>

                            <input type="password" asp-for="Contrasenna" class="form-control input_pass" placeholder="Contraseña">
                            <span asp-validation-for="Contrasenna" class="text-danger"></span>
                        </div>

                        <div class="d-flex justify-content-center mt-3 login_container ">
                            <button type="submit" name="button" class="btn login_btn">Iniciar Sesión</button>
                        </div>
                    </form>
                </div>

                <div class="mt-4">
                    <div class="d-flex justify-content-center links">
                        ¿Aún no tienes una cuenta? <a href="@Url.Action("Register","Auth")" class="ml-2">Registrarse</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
