<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración GuanaHospi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <link href="~/css/prueba.css" rel="stylesheet" />

    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/fontawesome-all.min.css" rel="stylesheet" />
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>

    <div class="menu-btn">
        <i class="fas fa-bars"></i>
    </div>


    <div class="side-bar">

        <header>

            <div class="close-btn">

                <i class="fas fa-times"></i>
            </div>
            <div class="container-logo">
                <img src="~/assets/img/logo/logo_gerald_def.jpg" alt="" />
            </div>
            <h3 class="titulonav text-center">Clinica GuanaHospi</h3>
        </header>
        
        <div class="menu">
            <div class="item"><a asp-controller="Inicio" asp-action="Index"><i class="fas fa-desktop"></i>Inicio</a></div>
            @if (User.IsInRole("Administrador"))
            {
                <div class="item">
                    <a class="sub-btn"> <i class="fas fa-user"> </i>Personas <i class="fas fa-angle-right dropdown"></i></a>
                    <div class="sub-menu">
                        <a asp-controller="Doctor" asp-action="Index" class="sub-item"><i class="fa-solid fa-users-medical"></i>Doctores</a>
                        <a asp-controller="Paciente" asp-action="Index" class="sub-item">Pacientes</a>
                        <a asp-controller="Secretaria" asp-action="Index" class="sub-item">Secretarios</a>
                    </div>
                </div>
            }
            <div class="item"> <a asp-controller="Unidad" asp-action="Index"><i class="fas fa-th"></i>Unidades</a></div>
            <div class="item">
                <a class="sub-btn"> <ion-icon name="medkit"></ion-icon>  Especialidades<i class="fas fa-angle-right dropdown"></i></a>
                <div class="sub-menu">
                    <a asp-controller="Especialidad" asp-action="Index" class="sub-item"> Gestión de las especialidades</a>
                    <a asp-controller="DoctorEspecialidad" asp-action="Index" class="sub-item">Doctores Especialidades</a>
                </div>
            </div>
            <div class="item">
                <a class="sub-btn"> <ion-icon name="medkit"></ion-icon>Enfermedades<i class="fas fa-angle-right dropdown"></i></a>
                <div class="sub-menu">
                    <a asp-controller="TipoEnfermedad" asp-action="Index" class="sub-item">Tipos de Enfermedades</a>
                    <a asp-controller="Enfermedad" asp-action="Index" class="sub-item">Gestión de Enfermedades</a>
                    <a asp-controller="EnfermedadTipo" asp-action="Index" class="sub-item">Enfermedades y Tipos</a>
                    <a asp-controller="EnfermedadPaciente" asp-action="Index" class="sub-item">Enfermedades y Pacientes</a>
                    <a asp-controller="EnfermedadSintoma" asp-action="Index" class="sub-item">Enfermedades y Sintomas</a>
                </div>
            </div>
            <div class="item"> <a asp-controller="Cita" asp-action="Index"><i class="fas fa-th"></i>Gestion de Citas</a></div>
            <div class="item">
                <a class="sub-btn"> <ion-icon name="medkit"></ion-icon>Tratamientos<i class="fas fa-angle-right dropdown"></i></a>
                <div class="sub-menu">
                    <a asp-controller="TipoTratamiento" asp-action="Index" class="sub-item">Tipos de Tratamientos</a>
                    <a asp-controller="Tratamiento" asp-action="Index" class="sub-item">Tratamientos</a>
                    <a asp-controller="TratamientoTipo" asp-action="Index" class="sub-item">Tratamientos y sus tipos</a>
                    <a asp-controller="DoctorTratamiento" asp-action="Index" class="sub-item">Doctores y tratamientos</a>
                </div>
            </div>
            <div class="item">
                <a class="sub-btn"> <ion-icon name="medkit"></ion-icon>Intervenciones<i class="fas fa-angle-right dropdown"></i></a>
                <div class="sub-menu">
                    <a asp-controller="TipoIntervencion" asp-action="Index" class="sub-item">Tipos de Intervenciones</a>
                    <a asp-controller="Intervencion" asp-action="Index" class="sub-item">Intervenciones</a>
                    <a asp-controller="IntervencionTipo" asp-action="Index" class="sub-item">Intervenciones y sus tipos</a>
                </div>
            </div>
            <div class="item">
                <a class="sub-btn"> <ion-icon name="medkit"></ion-icon>Sintomas<i class="fas fa-angle-right dropdown"></i></a>
                <div class="sub-menu">
                    <a asp-controller="Sintoma" asp-action="Index" class="sub-item">Tipos de Intervenciones</a>
                    <a asp-controller="SintomaIntervencion" asp-action="Index" class="sub-item">Intervenciones</a>
                
                </div>
            </div>
            <div class="item">
                <a class="sub-btn"> <ion-icon name="medkit"></ion-icon>Consultas<i class="fas fa-angle-right dropdown"></i></a>
                <div class="sub-menu">
                    <a asp-controller="Unidad" asp-action="UnidadMasPacientes" class="sub-item">Unidad mas pacientes</a>
                    <a asp-controller="Enfermedad" asp-action="TopEnfermedades" class="sub-item">Top de Enfermedades</a>
                    <a asp-controller="Intervencion" asp-action="MayorIntervencion" class="sub-item">Mayor Intervenciones</a>
                </div>
            </div>
            <div class="item"><a asp-controller="Auth" asp-action="CerrarSesion"><ion-icon name="log-out"></ion-icon> Cerrar Sesión</a></div>
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script type="text/javascript">
        $(document).ready(function () {
            //jquery for toggle sub menus
            $('.sub-btn').click(function () {
                $(this).next('.sub-menu').slideToggle();
                $(this).find('.dropdown').toggleClass('rotate');
            });

            //jquery for expand and collapse the sidebar
            $('.menu-btn').click(function () {
                $('.side-bar').addClass('active');
                $('.menu-btn').css("visibility", "hidden");
            });

            $('.close-btn').click(function () {
                $('.side-bar').removeClass('active');
                $('.menu-btn').css("visibility", "visible");
            });
        });
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>

