@model GuanaHospi.Models.EnfermedadTipo

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>EnfermedadTipo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdTipoEnfermedad" class="control-label"></label>
                <select asp-for="IdTipoEnfermedad" class ="form-control" asp-items="ViewBag.IdTipoEnfermedad"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdEnfermedad" class="control-label"></label>
                <select asp-for="IdEnfermedad" class ="form-control" asp-items="ViewBag.IdEnfermedad"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

