@model GuanaHospi.Models.IntervencionTipo

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>IntervencionTipo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdIntervencionTipo" />
            <div class="form-group">
                <label asp-for="IdIntervencion" class="control-label"></label>
                <select asp-for="IdIntervencion" class="form-control" asp-items="ViewBag.IdIntervencion"></select>
                <span asp-validation-for="IdIntervencion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoIntervencion" class="control-label"></label>
                <select asp-for="IdTipoIntervencion" class="form-control" asp-items="ViewBag.IdTipoIntervencion"></select>
                <span asp-validation-for="IdTipoIntervencion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

