@model GuanaHospi.Models.DoctorTratamiento

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>DoctorTratamiento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdDoctorTratamiento" />
            <div class="form-group">
                <label asp-for="IdDoctor" class="control-label"></label>
                <select asp-for="IdDoctor" class="form-control" asp-items="ViewBag.IdDoctor"></select>
                <span asp-validation-for="IdDoctor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTratamiento" class="control-label"></label>
                <select asp-for="IdTratamiento" class="form-control" asp-items="ViewBag.IdTratamiento"></select>
                <span asp-validation-for="IdTratamiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
