@model GuanaHospi.Models.Paciente

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Paciente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPaciente" />
            <div class="form-group">
                <label asp-for="Cedula" class="control-label"></label>
                <input asp-for="Cedula" class="form-control" />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido1" class="control-label"></label>
                <input asp-for="Apellido1" class="form-control" />
                <span asp-validation-for="Apellido1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido2" class="control-label"></label>
                <input asp-for="Apellido2" class="form-control" />
                <span asp-validation-for="Apellido2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edad" class="control-label"></label>
                <input asp-for="Edad" class="form-control" />
                <span asp-validation-for="Edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carnet" class="control-label"></label>
                <input asp-for="Carnet" class="form-control" />
                <span asp-validation-for="Carnet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUnidad" class="control-label"></label>
                <select asp-for="IdUnidad" class="form-control" asp-items="ViewBag.IdUnidad"></select>
                <span asp-validation-for="IdUnidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

